es_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-3.8.0/es_core_news_sm-3.8.0-py3-none-any.whl#sha256=e451a83d6df79b87e9eed0cb553f03e99e36a3bab18a7b79f0dcfd1fdf875e12
Flask==3.1.0
flask-cors==5.0.1
numpy==2.2.4
pandas==2.2.3
scikit-learn==1.6.1
spacy==3.8.4